# ======================
# OS
# ======================
.DS_Store

# ======================
# ENV
# ======================
venv/
.env
.venv/

# ======================
# PYTHON
# ======================
__pycache__/
*.pyc

# ======================
# DATASETS
# ======================
Datasets/
data/
*.zip

# ======================
# ML FILES
# ======================
*.pkl
*.npy
*.pt
*.pth

# ======================
# LOGS
# ======================
runs/
logs/

# ======================
# NOTEBOOKS
# ======================
.ipynb_checkpoints

# ======================
# BUILD / DIST
# ======================
build/
dist/
*.egg-info/

# ======================
# PREPROCESSING MODELS
# ======================
Preprocessing/*.pt
Preprocessing/*.pth
Preprocessing/*.pkl
Preprocessing/resmasking_*